body{
}

.description {
  text-align: center;
}

.main-title {
  text-align: center;
}

form .btn {
    border-radius: 0;
}

form select {
    border-radius: 0;
}

form input {
  border-radius: 0;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
mat-button-toggle-group {
  margin-left: 12px;
}

table {
  width: 100%;
}
.icon-table {
    width: 30%;
    text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-form-field {
  margin-right: 12px;
}

.mat-paginator {
    width:100%;
    display:block;
}
