<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1 class="main-title">Nearby Places</h1>
  <p class="description">This app shows all places in radius of 1000m from your location.</p>
  <div class="row mb-2">
    <form class="col-sm-3">
      <div class="form-group">
        <select class="form-control mb-2" name="selectedType" [(ngModel)]="selectedType">
          <option *ngFor="let type of this.nearbyPlaces.availableTypes" [value]="type">{{ type.replace(this.regexUnderline, ' ') }}</option>
        </select>
      </div>
    </form>
    <form class="col-sm-9">
      <mat-form-field class="example-full-width">
        <mat-label>Search...</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. Hotel..." name="inputText" [(ngModel)]="inputText" >
        <mat-hint align="start"><strong>Search by name or vicinity</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button type="submit" mat-stroked-button class="btn-block mb-2" (click)="onSubmitTypes(selectedType)">Send</button>
    </div>
    <div class="col-sm-9">
      <button (click)="onSubmitSearch(inputText)" type="submit" mat-stroked-button class="btn-block mb-2">Search</button>
    </div>
  </div>
  <div class="row">
    <table mat-table [dataSource]="nearbyPlaces.nearbyPlaces" class="mat-elevation-z8">

      <!-- Icon Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Icon </th>
        <td mat-cell *matCellDef="let element"> <img src="{{element.icon}}" alt="{{element.name}}" class="icon-table" /></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Vicinity Column -->
      <ng-container matColumnDef="vicinity">
        <th mat-header-cell *matHeaderCellDef> Vicinity </th>
        <td mat-cell *matCellDef="let element"> {{element.vicinity}} </td>
      </ng-container>

      <!-- Rating Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Rating </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
      </ng-container>

      <!-- Types Column -->
      <ng-container matColumnDef="types">
        <th mat-header-cell *matHeaderCellDef> Types </th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let type of element.types">{{ type.replace(this.regexUnderline, ' ') }}</li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>
  <!--<div class="row">
    <mat-paginator
                   [length]="length"
                   [pageSize]="pageSize"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </div>-->
</body>
</html>
